body {
  background-color: black;
}

#container {
  margin: 0 auto;
  width: 800px;
}

#canvas {
  cursor: crosshair;
}

#counters {
  pointer-events: none;
  position: relative;
  top: -700px;
  left: 10px;
}

#mainMenu{
  top : -400px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

#waveCount, #killCount {
  font-family: 'georgia';
  font-size: 24px;
  opacity: 0.6;
}

#loginForm {
  text-align: center;
  position: relative;
  top: -400px;
  vertical-align: middle;
}

#loginForm .loginInput {
  display: inline-block;
  padding-left: 2px;
}

#loginButtonContainer .loginButton {
  background: transparent;
  border: none;
  padding: 0;
  font-family: 'georgia';
  font-size: 12px;
  opacity: 0.6;
  cursor: pointer;
}
