body {
  background-color: black;
}

#container {
  margin: 0 auto;
  width: 800px;
  position:relative;
  padding:0 0 0 195px;
}

#canvas {
  cursor: crosshair;
}

#canvas2 {
  cursor: crosshair;
  position:absolute;
}

#canvas3 {
  cursor: crosshair;
  position:absolute;
  margin-left: 805px;
}

#counters {
  pointer-events: none;
  position: relative;
  top: -700px;
  left: 10px;
}

#sidebarL{
  position:absolute;
  top:100px; bottom:0; left:0;
  width:190px;
}

#sidebarR{
  position:absolute;
  top:100px; bottom:0; left:0;
  margin-left: 1000px;
  width:190px;
}
#mainMenu{
  top : -400px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

#inventory{
  top : -400px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

table {
}

td {
  padding: 5px;
}

.invBox{
  border-style:ridge;
  border-width:5px;
}

#waveCount, #killCount {
  font-family: 'georgia';
  font-size: 24px;
  opacity: 0.6;
}

#loginForm {
  text-align: center;
  position: relative;
  top: -400px;
  vertical-align: middle;
}

#login_q{
  top : -175px;
  left : 118px;
  position: relative;
  width: 140px;
}
#password_q{
  top : -165px;
  left : 118px;
  position: relative;
  width: 140px;
}
#loginButtonContainer{
  top : -160px;
  left : 90px;
  position: relative;
}

#loginForm .loginInput {
  display: inline-block;
  padding-left: 2px;
}

.loginButton {
  background: transparent;
  border: none;
  padding: 0;
  font-family: 'georgia';
  font-size: 12px;
  opacity: 0.6;
  background-color: white;
  cursor: pointer;
  color: rgb(0,0,250);
}
